#XILINX Spartan 6 Mini SP6 V2 FPGA
# FPGAtechsolution

#reset push button
NET rst LOC = P17 | IOSTANDARD = LVCMOS33; 

#12 mhz clock input
NET clk LOC = P87 | IOSTANDARD = LVCMOS33; 

#developed by Ninad Waingankar

#Time watch output on7 seg display

#MSB (6) to LSB (0) abcdefg format

#min 0
NET min0(6) LOC = P22 | IOSTANDARD = LVCMOS33;
NET min0(5) LOC = P21 | IOSTANDARD = LVCMOS33;
NET min0(4) LOC = P24 | IOSTANDARD = LVCMOS33;
NET min0(3) LOC = P23 | IOSTANDARD = LVCMOS33;
NET min0(2) LOC = P27 | IOSTANDARD = LVCMOS33;
NET min0(1) LOC = P26 | IOSTANDARD = LVCMOS33;
NET min0(0) LOC = P30 | IOSTANDARD = LVCMOS33; 

#min 1
NET min1(6) LOC = P29 | IOSTANDARD = LVCMOS33;
NET min1(5) LOC = P33 | IOSTANDARD = LVCMOS33;
NET min1(4) LOC = P32 | IOSTANDARD = LVCMOS33;
NET min1(3) LOC = P35 | IOSTANDARD = LVCMOS33;
NET min1(2) LOC = P34 | IOSTANDARD = LVCMOS33;
NET min1(1) LOC = P41 | IOSTANDARD = LVCMOS33;
NET min1(0) LOC = P40 | IOSTANDARD = LVCMOS33;

#hr0
NET hr0(6) LOC = P44 | IOSTANDARD = LVCMOS33;
NET hr0(5) LOC = P43 | IOSTANDARD = LVCMOS33;
NET hr0(4) LOC = P46 | IOSTANDARD = LVCMOS33;
NET hr0(3) LOC = P45 | IOSTANDARD = LVCMOS33;
NET hr0(2) LOC = P48 | IOSTANDARD = LVCMOS33;
NET hr0(1) LOC = P47 | IOSTANDARD = LVCMOS33;
NET hr0(0) LOC = P51 | IOSTANDARD = LVCMOS33;

#hr1
NET hr1(6) LOC = P50 | IOSTANDARD = LVCMOS33;
NET hr1(5) LOC = P56 | IOSTANDARD = LVCMOS33;
NET hr1(4) LOC = P55 | IOSTANDARD = LVCMOS33;
NET hr1(3) LOC = P58 | IOSTANDARD = LVCMOS33;
NET hr1(2) LOC = P57 | IOSTANDARD = LVCMOS33;
NET hr1(1) LOC = P61 | IOSTANDARD = LVCMOS33;
NET hr1(0) LOC = P59 | IOSTANDARD = LVCMOS33; 








